<div class="content-wrapper">
    <!-- <div class="page-header">
      <h3 class="page-title">
          Category
      </h3>
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Forms</a></li>
          <li class="breadcrumb-item active" aria-current="page">Validation</li>
          </ol>
      </nav>
    </div> -->
    <div class="row grid-margin">
      <div class="col-8">
        <div class="card">
          <div class="card-body">
            <div>
            <h4 class="card-title">Category List</h4>
            <a class="nav-link" [routerLink]="['/categorydetail',0]">Add Category</a>
            <!-- <a class="nav-link" [routerLink]="['/categorydetail']">Add Category</a> -->
          </div>
            <div class="form-group row">
              <div class="col-lg-12">
                <ag-grid-angular
                    #agGrid
                    id="myGrid"
                    style="width: 99.9%; height: 550px;"
                    class="ag-theme-alpine"
                    [pagination]="true"
                    [rowClassRules]="rowClassRules"
                    [rowData]="rowData"
                    [columnDefs]="columnDefs"
                    [rowSelection]="rowselection"
                    [defaultColDef]="defaultColDef"
                    [paginationPageSize]="paginationPageSize"
                    [frameworkComponents]="frameworkComponents"
                    (selectionChanged)="onSelectionChanged($event)"
                    (gridReady)="onGridReady($event)"
                    (cellDoubleClicked) = "onCellDoubleClicked($event)"
                >
                </ag-grid-angular>
              </div>
               
            </div>
             
          </div>
        </div>
      </div>
    </div>
    <!-- <a class="nav-link" [routerLink]="['/categorydetail',0]">Add Category</a> -->
    
  </div>