<div class="content-wrapper">
<div class="page-header">
    <h3 class="page-title">
      Dashboard
    </h3>
  </div>

  <div class="row grid-margin">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Coming soon....!</h4>
          <!-- <div class="form-group row">
            <div class="col-lg-3">
              <label class="col-form-label">Default usage</label>
            </div>
            <div class="col-lg-8">
              <input class="form-control" maxlength="25" name="defaultconfig" id="defaultconfig" type="text" placeholder="Type Something..">
            </div>
          </div> -->
         
        </div>
      </div>
    </div>
  </div>
</div>